.bodyCheckConsent {
  background-image: url('../../assets/bg.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

form {
  margin: 0 auto;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 20%;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

input[type="text-prefetched"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: not-allowed;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.recipient-select {
  width: 200px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
  font-weight: bold;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

p {
  margin-top: 10px;
  font-size: 16px;
}