.navbar {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 2rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.navbar-links {
  display: flex;
  justify-content: center;
}

.navbar-link {
  padding: 0.25rem 0.75rem;
  border-radius: 0.375rem;
  font-size: 0.925rem; /* equivalent to text-sm */
  font-weight: 500; /* equivalent to font-medium */
  color: #4B5563; /* equivalent to text-gray-600 */
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  display: inline-block;
  margin-right: 0.75rem; /* equivalent to mr-3 */
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar-link:hover,
.navbar-link:focus {
  color: #1F2937; /* equivalent to hover:text-gray-900 and focus:text-gray-900 */
  outline: none;
  border-bottom: 2px solid #1F2937;
  border-radius: 0px;
}

.navbar-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-action {
  padding: 0.75rem 1rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: #3B82F6;
  color: #FFFFFF;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  outline: none;
}

.navbar-action-disabled-state {
  padding: 0.75rem 1rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: red;
  color: #FFFFFF;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  outline: none;
  cursor: not-allowed;
}

.navbar-action:hover, .navbar-action:focus {
  background-color: #2563EB;
}



@media (min-width: 768px) {
  .navbar-links {
    display: flex;
    justify-content: flex-start;
  }

  .navbar-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

